<%= render 'share/errors', model: blog %>

<%= form_with(model: blog, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="actions my-2">
    <%= form.submit class: "btn btn-outline-primary my-2" %>
  </div>
<% end %>
