<h2>
  <%= @blog.title %>
</h2>

<h5>
  <strong>by </strong><%= @blog.user.name %>
</h5>

<p><%= @blog.created_at.strftime("Created at %Y/%m/%d") %></p>

<%= @blog.body %>

<% if @blog.user_id == current_user.id %>
  <div class="my-2">
    <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-outline-success btn-sm" %> |
    <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
  </div>
<% end %>

<%= render partial: 'comments/new' %>
