<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user.name %>
</p>

<%= @blog.body %>

<% if @blog.user_id == current_user.id %>
  <%= link_to 'Edit', edit_blog_path(@blog) %>
<% end %>

<%= render partial: 'comments/new' %>
